
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(77, 161, 109);
}

.container{
    display: flex;
    font-family: Verdana;
    justify-content:left;
    align-items: center;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    gap: 30px;
}

#img{
    height: 130px;
    width: 130px;
    margin: 10px;
    border-radius: 50%;
}

#links{
    display: flex;
    margin-left: 10px;
    gap: 10px;
    align-items: center;
    justify-content: justify;
}

a{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 6px;
    padding: 4px;
}

.bot1, .bot2, .bot3, .bot4{
    background: white;
}

#p1{
    color: white;
    font-size: 40px;
    text-align: justify;
}

.h2{
    text-align: center;
}
p{
    text-align: justify;
    text-indent: 40px;
    margin-left: 10px;
}

#not{
    display: column;
    background: #ddd;
    margin: 30px 10px 30px 0px;
    padding: 10px;
    width: 75%;
    float: right;
    border-radius: 10px;
}