
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(77, 161, 109);
}

.container{
    display: flex;
    font-family: Verdana;
    justify-content:left;
    align-items: center;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
}

#img{
    height: 120px;
    margin: 10px;
    border-radius: 50%;
}


#p1{
    color: white;
    font-size: 40px;
    text-align: center;
}

h2{
    text-align: center;
}

#p2{
    margin: 10px;
    font-size: 15px;
    text-align: justify;
    text-indent: 30px;
}
